<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DialogId</key>
	<string>c45d07ad-f76e-4b72-a2a6-2ac07718862d</string>
	<key>Username</key>
	<string>5673a68c-bbc1-4b5b-858d-9de9585748c6</string>
	<key>Password</key>
	<string>8rJmjOasbGp5</string>
</dict>
</plist>
