osx_image: xcode10.1
jobs:
  include:
    - stage: test Linux
      script: ./Scripts/travis/test-Linux.sh
      os: linux
    - stage: test macOS
      script: ./Scripts/travis/test-macOS.sh
      os: osx
    - stage: release new version
      script: ./Scripts/travis/new-release.sh
      os: osx
      if: branch = master
    - stage: deploy to cocoapods
      script: ./Scripts/travis/deploy-to-cocoapods.sh
      os: osx
      if: branch = master
    - stage: publish documentation
      script: ./Scripts/travis/publish-documentation.sh
      os: osx
      if: branch = master