github "SwiftyJSON/SwiftyJSON" >= 2.3.1
github "Alamofire/Alamofire" ~> 3.1
github "DaveWoodCom/XCGLogger" ~> 3.1
github "Hearst-DD/ObjectMapper" ~> 0.19
github "rhodgkins/SwiftHTTPStatusCodes" ~> 2.0
github "daltoniam/Starscream" ~> 1.0.2
# github "Quick/Nimble" ~> 3.0.0
