<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Password</key>
	<string>bXNBDOHvKUXE</string>
	<key>Username</key>
	<string>e08066f7-a27f-4732-8d10-ac7895d0a9b4</string>
</dict>
</plist>
