<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Username</key>
	<string>5aa00deb-96c9-4606-9765-5f590912f3ee</string>
	<key>Password</key>
	<string>eXUSONytMoDy</string>
</dict>
</plist>
