<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FacebookOAuthURL</key>
	<string>YOUR URL</string>
	<key>FacebookOAuth</key>
	<string>YOUR KEY</string>
	<key>AlchemyAPIKey</key>
	<string>YOUR KEY</string>
	<key>DialogID</key>
	<string>YOUR ID</string>
	<key>DialogUsername</key>
	<string>YOUR USERNAME</string>
	<key>DialogPassword</key>
	<string>YOUR PASSWORD</string>
	<key>LanguageTranslationUsername</key>
	<string>YOUR USERNAME</string>
	<key>LanguageTranslationPassword</key>
	<string>YOUR PASSWORD</string>
	<key>NaturalLanguageClassifierUsername</key>
	<string>YOUR USERNAME</string>
	<key>NaturalLanguageClassifierPassword</key>
	<string>YOUR PASSWORD</string>
	<key>PersonalityInsightsUsername</key>
	<string>YOUR USERNAME</string>
	<key>PersonalityInsightsPassword</key>
	<string>YOUR PASSWORD</string>
	<key>SpeechToTextUsername</key>
	<string>YOUR USERNAME</string>
	<key>SpeechToTextPassword</key>
	<string>YOUR PASSWORD</string>
	<key>TextToSpeechUsername</key>
	<string>YOUR USERNAME</string>
	<key>TextToSpeechPassword</key>
	<string>YOUR PASSWORD</string>
</dict>
</plist>
