<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlchemyAPIKey</key>
	<string>YourAPIKeyHere</string>
	<key>ConversationUsername</key>
	<string>YourUsernameHere</string>
	<key>ConversationPassword</key>
	<string>YourPasswordHere</string>
	<key>DialogUsername</key>
	<string>YourUsernameHere</string>
	<key>DialogPassword</key>
	<string>YourPasswordHere</string>
	<key>DocumentConversionUsername</key>
	<string>YourUsernameHere</string>
	<key>DocumentConversionPassword</key>
	<string>YourPasswordHere</string>
	<key>LanguageTranslatorUsername</key>
	<string>YourUsernameHere</string>
	<key>LanguageTranslatorPassword</key>
	<string>YourPasswordHere</string>
	<key>NaturalLanguageClassifierUsername</key>
	<string>YourUsernameHere</string>
	<key>NaturalLanguageClassifierPassword</key>
	<string>YourPasswordHere</string>
	<key>PersonalityInsightsUsername</key>
	<string>YourUsernameHere</string>
	<key>PersonalityInsightsPassword</key>
	<string>YourPasswordHere</string>
	<key>RelationshipExtractionUsername</key>
	<string>YourUsernameHere</string>
	<key>RelationshipExtractionPassword</key>
	<string>YourPasswordHere</string>
	<key>RetrieveAndRankUsername</key>
	<string>YourUsernameHere</string>
	<key>RetrieveAndRankPassword</key>
	<string>YourPasswordHere</string>
	<key>SpeechToTextUsername</key>
	<string>YourUsernameHere</string>
	<key>SpeechToTextPassword</key>
	<string>YourPasswordHere</string>
	<key>TextToSpeechUsername</key>
	<string>YourUsernameHere</string>
	<key>TextToSpeechPassword</key>
	<string>YourPasswordHere</string>
	<key>ToneAnalyzerUsername</key>
	<string>YourUsernameHere</string>
	<key>ToneAnalyzerPassword</key>
	<string>YourPasswordHere</string>
	<key>TradeoffAnalyticsUsername</key>
	<string>YourUsernameHere</string>
	<key>TradeoffAnalyticsPassword</key>
	<string>YourPasswordHere</string>
	<key>VisualRecognitionAPIKey</key>
	<string>YourAPIKeyHere</string>
</dict>
</plist>
